* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    height: 100vh;
}

.login-container {
    display: flex;
    height: 100vh;
    width: 100%;
}

/* Sidebar Branding Area */
.sidebar {
    width: 35%;
    background: #A1CFE8; /* Your light blue color */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Login Area */
.login-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
}

.top-bar {
    text-align: right;
    padding: 10px 40px;
    color: #a1a1a1;
}

.form-wrapper {
    margin: auto;
    width: 100%;
    max-width: 500px;
    text-align: left;
}

.logo {
    max-width: 400px;
    margin-bottom: 40px;
}

.welcome-text {
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 8px;
}

.subtitle {
    font-size: 14px;
    color: #616161;
    margin-bottom: 30px;
}

/* Form Styles */
.input-group {
    margin-bottom: 15px;
}

input {
    width: 100%;
    height: 50px;
    padding: 0 15px;
    border: 1px solid #B7B7B7;
    border-radius: 7px;
    font-size: 16px;
    outline: none;
}

.forgot-password {
    display: block;
    text-align: right;
    font-size: 12px;
    color: #5b5b5b;
    text-decoration: none;
    margin-top: 5px;
}

.divider {
    height: 1px;
    background: #D9D9D9;
    margin: 25px 0;
}

.login-button {
    width: 100%;
    height: 50px;
    background: #ffffff;
    border: 2px solid #484848;
    border-radius: 7px;
    font-weight: 500;
    font-size: 18px;
    color: #6F6F6F;
    cursor: pointer;
    transition: all 0.3s ease;
}

.login-button:hover {
    background: #f2c492;
    color: white;
}