* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v121_8 {
  width: 100%;
  height: 1731px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v127_100 {
  width: 798px;
  height: 100%;
  background: rgba(249,249,249,1);
  opacity: 1;
  position: absolute;
  top: 589px;
  left: 254px;
  border: 1px solid rgba(255,255,255,1);
  border-top-left-radius: 55px;
  border-top-right-radius: 55px;
  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 55px;
  overflow: hidden;
}
.v121_12 {
  width: 100%;
  height: 306px;
  background: url("../images/v121_12.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 20px;
  overflow: hidden;
}
.v121_13 {
  width: 688px;
  height: 160px;
  background: url("../images/v121_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 301px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v121_17 {
  width: 120px;
  height: 120px;
  background: url("../images/v121_17.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1180px;
  overflow: hidden;
}
.v121_18 {
  width: 118px;
  color: rgba(58,58,58,1);
  position: absolute;
  top: 249px;
  left: 915px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Poppins;
  font-weight: Light;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v121_19 {
  width: 118px;
  color: rgba(58,58,58,1);
  position: absolute;
  top: 249px;
  left: 673px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Poppins;
  font-weight: Light;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v121_20 {
  width: 118px;
  color: rgba(58,58,58,1);
  position: absolute;
  top: 249px;
  left: 431px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Poppins;
  font-weight: Light;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v121_21 {
  width: 118px;
  color: rgba(58,58,58,1);
  position: absolute;
  top: 249px;
  left: 207px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Poppins;
  font-weight: Light;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v121_23 {
  width: 206px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 362px;
  left: 537px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.36000001430511475);
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v121_36 {
  width: 236px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 505px;
  left: 522px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.36000001430511475);
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v121_47 {
  width: 348px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 863px;
  left: 354px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.36000001430511475);
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v127_49 {
  width: 339px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1200px;
  left: 314px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.36000001430511475);
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v127_51 {
  width: 348px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1541px;
  left: 365px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.36000001430511475);
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v127_48 {
  width: 348px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 860px;
  left: 746px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.36000001430511475);
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v127_50 {
  width: 348px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1200px;
  left: 754px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.36000001430511475);
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v127_52 {
  width: 243px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1541px;
  left: 729px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.36000001430511475);
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v121_25 {
  width: 456px;
  height: 60px;
  background: rgba(161,207,232,1);
  opacity: 1;
  position: absolute;
  top: 483px;
  left: 860px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v121_34 {
  width: 56px;
  height: 56px;
  background: url("../images/v121_34.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.5600000023841858;
  position: absolute;
  top: 427px;
  left: 793px;
  overflow: hidden;
}
.v121_35 {
  width: 206px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 435px;
  left: 550px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.36000001430511475);
  font-family: Poppins;
  font-weight: Light;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v121_37 {
  width: 226px;
  height: 226px;
  background: url("../images/v121_37.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 600px;
  left: 346px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v127_64 {
  width: 227px;
  height: 227px;
  background: rgba(251,211,3,1);
  opacity: 1;
  position: absolute;
  top: 600px;
  left: 746px;
  border-radius: 50%;
}
.v158_7 {
  width: 227px;
  height: 227px;
  background: url("../images/v158_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 938px;
  left: 746px;
  overflow: hidden;
}
.v127_65 {
  width: 227px;
  height: 227px;
  background: rgba(251,211,3,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v127_53 {
  width: 210px;
  height: 210px;
  background: url("../images/v127_53.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 8px;
  border-top-left-radius: 95px;
  border-top-right-radius: 95px;
  border-bottom-left-radius: 95px;
  border-bottom-right-radius: 95px;
  overflow: hidden;
}
.v127_75 {
  width: 205px;
  height: 205px;
  background: url("../images/v127_75.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 627px;
  left: 759px;
  border-top-left-radius: 131px;
  border-top-right-radius: 131px;
  border-bottom-left-radius: 131px;
  border-bottom-right-radius: 131px;
  overflow: hidden;
}
.v157_2 {
  width: 227px;
  height: 228px;
  background: url("../images/v157_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 943px;
  left: 343px;
  overflow: hidden;
}
.v127_77 {
  width: 227px;
  height: 227px;
  background: rgba(251,211,3,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v127_62 {
  width: 216px;
  height: 216px;
  background: url("../images/v127_62.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 5px;
  border-top-left-radius: 135px;
  border-top-right-radius: 135px;
  border-bottom-left-radius: 135px;
  border-bottom-right-radius: 135px;
  overflow: hidden;
}
.v127_79 {
  width: 227px;
  height: 227px;
  background: rgba(251,211,3,1);
  opacity: 1;
  position: absolute;
  top: 1297px;
  left: 737px;
  border-radius: 50%;
}
.v127_82 {
  width: 227px;
  height: 227px;
  background: rgba(251,211,3,1);
  opacity: 1;
  position: absolute;
  top: 1297px;
  left: 343px;
  border-radius: 50%;
}
.v127_89 {
  width: 216px;
  height: 216px;
  background: url("../images/v127_89.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1310px;
  left: 349px;
  border-top-left-radius: 256px;
  border-top-right-radius: 256px;
  border-bottom-left-radius: 256px;
  border-bottom-right-radius: 256px;
  overflow: hidden;
}
.v127_95 {
  width: 218px;
  height: 218px;
  background: url("../images/v127_95.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1306px;
  left: 746px;
  border-top-left-radius: 256px;
  border-top-right-radius: 256px;
  border-bottom-left-radius: 256px;
  border-bottom-right-radius: 256px;
  overflow: hidden;
}
.v127_98 {
  width: 120px;
  height: 143px;
  background: url("../images/v127_98.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1526px;
  left: 64px;
  overflow: hidden;
}
.v152_10 {
  width: 75px;
  color: rgba(161,161,161,1);
  position: absolute;
  top: 46px;
  left: 1111px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v185_246 {
  width: 47px;
  height: 47px;
  background: url("../images/v185_246.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 324px;
  left: 34px;
  overflow: hidden;
}
.v185_247 {
  width: 50px;
  height: 49px;
  background: url("../images/v185_247.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 445px;
  left: 31px;
  overflow: hidden;
}
.v185_248 {
  width: 95px;
  height: 95px;
  background: url("../images/v185_248.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 547px;
  left: 10px;
  overflow: hidden;
}
.v185_249 {
  width: 87px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 341px;
  left: 98px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v185_250 {
  width: 79px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 452px;
  left: 108px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v185_251 {
  width: 149px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 573px;
  left: 87px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
